.ipynb_checkpoints

topics.txt

data/379/*

data/ap/*

stanford-segmenter-2014-08-27

data/E2006.train

data/retail.dat.gz

.DS_Store

*.pyc

data/Bike-Sharing-Dataset/hour_noheader.csv

deep-learning/Fundamentals-of-Deep-Learning/data
deep-learning/Fundamentals-of-Deep-Learning/*_logs*


deep-learning/Fundamentals-of-Deep-Learning/text8.zip
